{% extends "memento/base_main.html" %}

{% block main-content %}
<script>
function checkPasswords() {
   if ($( "#id_password" ).val() == $( "#id_password_r" ).val()) {
      $( "form" ).first().submit();
   } else {
      alert("Passwords are not equal");
   }
}
</script>

<div class="main-container">
<div class="main-container-options">
   <div class="container-category">
      <div>
         <p class="main-category-title">Change password</p>
      </div>
      <form method="post" action="{% url 'change_password' %}">
         {% csrf_token %}
         <div class="form-group">
            <label for="{{ form.password.id_for_label }}">Password</label>
            <input type="password" class="form-control" id="{{ form.password.id_for_label }}" name="{{ form.password.html_name }}">
            {{ form.password.errors }}
         </div>
         <div class="form-group">
            <label for="{{ form.password_r.id_for_label }}">Repeat password</label>
            <input type="password" class="form-control" id="{{ form.password_r.id_for_label }}" name="{{ form.password_r.html_name }}">
            {{ form.password_r.errors }}
         </div>
         <div class="form-group">
            <label for="{{ form.usettings.id_for_label }}">Settings</label>
            <input type="usettings" class="form-control" id="{{ form.usettings.id_for_label }}" name="{{ form.usettings.html_name }}" value="{{ form.usettings.value }}" aria-describedby="usettingsHelp">
            {{ form.usettings.errors }}
         </div>
         <button type="button" value="login" class="btn btn-primary" onclick="checkPasswords()">Update</button>
      </form>
   </div>
</div>
</div>

{% endblock %}
