{% extends "memento/base_main.html" %}

{% block main-content %}
<script>
function edit_viewer_remove_goToURL() {
   window.location.href = '{% url 'delete_viewer' %}';
}
</script>

<div class="main-container">
<div class="main-container-options">
   <div class="container-category">
      <div>
         <p class="main-category-title">Edit viewer</p>
      </div>
      <div>
         <p class="field-title">{{ username }}</p>
      </div>
      <div class="container-category-items">
         <div>
            <button type="button" class="btn btn-primary" onclick="edit_viewer_remove_goToURL()">Remove viewer</button>
         </div>
      </div>
   </div>
</div>
</div>

{% endblock %}

