{% extends "memento/base_main.html" %}

{% block main-content %}
<script>
function edit_label_remove_goToURL() {
   if (confirm("This will permanently remove all project data related to this label. Are you sure you want to continue?")) {
      window.location.href = '{% url 'delete_label' %}';
   }
}
</script>

<div class="main-container">
<div class="main-container-options">
   <div class="container-category">
      <div>
         <p class="main-category-title">Edit label</p>
      </div>
      <form method="post" action="{% url 'edit_label' %}">
         {% csrf_token %}
         <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name</label>
            <input type="name" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value }}" aria-describedby="nameHelp">
            {{ form.name.errors }}
         </div>
         <button type="submit" class="btn btn-primary">Update</button>
      </form>
   </div>
   <div class="container-category">
      <div>
         <p class="main-category-title"></p>
      </div>
      <div class="container-category-items">
         <div>
            <button type="button" class="btn btn-primary" onclick="edit_label_remove_goToURL()">Remove label</button>
         </div>
      </div>
   </div>
</div>
</div>

{% endblock %}
