{% extends "memento/base_main.html" %}

{% block main-content %}
<div class="main-container">
<div class="main-container-options">
   <div class="container-category">
      <div>
         <p class="main-category-title">New viewer</p>
      </div>
      <form method="post" action="{% url 'new_viewer' %}">
         {% csrf_token %}
         <div class="form-group">
            <select class="form-control" id="{{ form.user_id.id_for_label }}" name="{{ form.user_id.html_name }}">
               {% for username in usernames %}
               <option value="{{ username.id }}">{{ username.username }}</option>
               {% endfor %}
            </select>
         </div>
         <button type="submit" class="btn btn-primary">Add</button>
      </form>
   </div>
</div>
</div>

{% endblock %}
