{% extends "memento/base_main.html" %}

{% block main-content %}
<div class="main-container">
<div class="main-container-options">
   <div class="container-category">
      <div>
         <p class="main-category-title">New annotation</p>
      </div>
      <form method="post" action="{% url 'new_annotation' %}">
         {% csrf_token %}
         <div class="form-group">
            <label for="{{ form.name.id_for_label }}">Name</label>
            <input type="name" class="form-control" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" aria-describedby="nameHelp" placeholder="Enter name">
            {{ form.name.errors }}
         </div>
         <div class="form-group">
            <select class="form-control" id="{{ form.image_id.id_for_label }}" name="{{ form.image_id.html_name }}">
               {% for image in images %}
               <option value="{{ image.id }}">{{ image.name }}</option>
               {% endfor %}
            </select>
         </div>
         <input type="hidden" id="{{ form.status.id_for_label }}" name="{{ form.status.html_name }}" value="N">
         <button type="submit" class="btn btn-primary">Create</button>
      </form>
   </div>
</div>
</div>

{% endblock %}
